*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}

/* nav vertical */

.nav-left {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px dashed #f1f1f1;
    transition: all 0.2s ease-in-out;
}

.bloc-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-menu span {
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.bloc-menu span a {
    text-decoration: none;
    color: #f1f1f1;
}

.bloc-menu span::after {
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 5px;
    background: #aaa;
    transition: all 0.2s ease-out;
}

.bloc-menu span:hover::after {
    width: 100%
}

/* Portrait */
.bloc-menu:nth-child(1){
    width: 100%;
    height: 25%;
    background: #333;
}

.cercle-portrait {
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px 0;
    box-shadow: 26px 26px 53px #292929,
    -26px -26px 53px #3d3d3d;
}

.cercle-portrait img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.logo-cercle img {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* END nav vertical */

@media screen and (max-width: 1300px) {
    
    .nav-left {
        left: -300px !important;
        width: 250px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-visible {
        left: 0px !important;
    }

    .bloc-menu:nth-child(1) {
        display: none;
    }
    .bloc-menu:nth-child(7) {
        display: none;
    }

    .btn-rond-menu {
        width: 70px;
        height: 70px;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
        background: #333;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
    }

    .cont-line{
        width: 36px;
        height: 36px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cont-line.active .line-unique::after{
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease
        
    }

    .cont-line.active .line-unique::before{
        top: 0;
        transform: rotate(-45deg);
        transition: top 300ms ease, transform 300ms 300ms ease
        
    }

    .cont-line.active .line-unique{
        background: transparent;
        
    }

    .line-unique {
        width: 100%;
        height: 4px;
        position: absolute;
        border-radius: 5px;
        background: #f1f1f1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line-unique::before {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #f1f1f1;
    }

    .line-unique::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #f1f1f1;
    }

}

/* START Section Accueil */

.accueil {
    background: url("ressources/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}

h1{
    font-size: 90px;
    font-family: 'Merriweather', serif;
    margin: 0 60px;
    padding-top: 210px;
}

.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}

.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: black;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}


.btn-acc1 {
    margin: 10px 0 0 60px;
}

.btn-acc2 {
    background-color: transparent;
    border: 2px solid black;
    margin: 10px 0 0 60px;
    color: black;
    font-weight: 700;
}

.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}

.media {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;

}

.media2 {
    background-color: transparent;
    border: 2px solid #333;
}

.icone-medias {
    width: 30px;
}

.btn-rond{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #333;
    animation-name: pulse;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 0 #333;
}

@keyframes pulse {
    to {
        
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
    }
}

.logo-btn-rond-acc {
    width: 35px;
}

@media screen and (max-width:1300px){
    .accueil{
        height: 100vh;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
}

@media screen and (max-width:1000px){
    .accueil{
        height: 700px;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
    h1{
        font-size: 70px;
        padding-top: 100px;
        margin: 0 30px 0 30px;
    }
    .accueil p {
        margin: 20px 0 20px 30px;
    }
    .btn-acc1{
        margin: 10px 0 0 30px;
    }
    .media {
        margin-left: 30px;
    }
    .btn-rond{
        display: none;
    }
}

@media screen and (max-width:700px){
    .accueil{
        height: 600px;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
    h1{
        font-size: 50px;
        margin: 0 30px;
    }
    .accueil p {
        font-size: 20px;
    }
    .btn-rond-menu{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:500px){
    .accueil{
        height: 600px;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
    h1{
        font-size: 35px;
    }
    .accueil p {
        font-size: 16px;
    }
    .btn-acc {
        width: 120px;
        font-size: 13px;
        height: 40px;
        margin: 10px 0 0 5px;

    }
    .btn-acc1 {
        margin: 10px 0 0 30px;
    }
    .btn-rond-menu{
        width: 60px;
        height: 60px;
    }
    .media {
        width: 40px;
        height: 40px;
    }
    .icone-medias {
        width: 20px;
    }
}

@media screen and (max-width:450px){

    .accueil{
        height: 500px
    }

    .btn-rond-menu{
        width: 50px;
        height: 50px;
    }

    .cont-line{
        width: 20px;
        height: 38px;
    }

}

@media screen and (max-width:380px){

    .txt-animation{
        font-size: 15px;
    }

}

/* END Section Accueil */

/* START Section présentation */

.presentation {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    color: #e7e7e7;
}

.fond-forme{
    background: rgb(41,50,60);
    background: linear-gradient(90deg, rgba(41,50,60,1) 0%, rgba(89,72,99,1) 100%);    width: 2300px;
    height: 1000px;
    position: absolute;
    transform: rotate(-45deg) translateX(100px) translateY(-15px);
    z-index: -1;
}

.titre-pres {
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 70px 0;
    padding-left: 300px;
}

.container-presentation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 120px 0;
    flex-shrink: 0;
    padding-left: 300px;
}

.pres-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;

}

.pres-gauche h3{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

.pres-gauche hr{
    width: 60px;
    margin: 0 auto 20px auto;
}

.pres-gauche p {
    text-align: justify;
}

.pres-droite {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}

.liste-presentation {
    list-style-type: none;
    padding: 10px 0px 50px 110px;
}

.chiffre-style {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
}

.txt-liste {
    font-size: 27px;
    display: inline;
}

@media screen and (max-width:1300px){
    .container-presentation{
        padding-left: 0;
    }
    .titre-pres {
        padding-left: 0px;
    }

}

@media screen and (max-width:1100px){
    .fond-forme {
        transform: rotate(0) translateY(0) translateX(0);
        width: 100%;
        height: 150%;
        
    }

    .titre-pres {
        margin: 0 0 20px 0;
        padding-top: 50px;
    }

    .container-presentation{
        flex-direction: column;
    }

    .pres-gauche{
        width: 80%;
        flex-shrink: 1;
        margin-bottom: 10px;
        padding: 20px 0;
    }

    .pres-gauche h3 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .pres-gauche p {
        font-size: 16px;
    }

    .pres-droite {
        width: 80%;
        flex-shrink: 1;
    }
    .liste-presentation{
        padding: 0 0;

    }
}

@media screen and (max-width:700px){

    .titre-pres {
        font-size: 24px;
        margin: 0 10px;
    }

    .chiffre-style {
        font-size: 30px;
    }

    .txt-liste {
        font-size: 17px;
    }

    .container-presentation{
        margin-top: 10px;
        margin-bottom: 70px;
    }

    .pres-gauche h3 {
        font-size: 20px;
    }

}
/* END Section présentation */