*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}

/* nav vertical */

.nav-left {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -300px;
    border-right: 1px dashed #f1f1f1;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.bloc-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-menu span {
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.bloc-menu span a {
    text-decoration: none;
    color: #f1f1f1;
}

.bloc-menu span::after {
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 5px;
    background: #aaa;
    transition: all 0.2s ease-out;
}

.bloc-menu span:hover::after {
    width: 100%
}

/* Portrait */
.bloc-menu:nth-child(1){
    width: 100%;
    height: 25%;
    background: #333;
}

.cercle-portrait {
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px 0;
    box-shadow: 26px 26px 53px #292929,
    -26px -26px 53px #3d3d3d;
}

.cercle-portrait img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.logo-cercle img {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* END nav vertical */

@media screen and (max-width: 1300px) {
    
    .nav-left {
        left: -300px !important;
        width: 250px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-visible {
        left: 0px !important;
    }

    .bloc-menu:nth-child(1) {
        display: none;
    }
    .bloc-menu:nth-child(7) {
        display: none;
    }

    .btn-rond-menu {
        width: 70px;
        height: 70px;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
        background: #333;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 12;
    }

    .cont-line{
        width: 36px;
        height: 36px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cont-line.active .line-unique::after{
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease
        
    }

    .cont-line.active .line-unique::before{
        top: 0;
        transform: rotate(-45deg);
        transition: top 300ms ease, transform 300ms 300ms ease
        
    }

    .cont-line.active .line-unique{
        background: transparent;
        
    }

    .line-unique {
        width: 100%;
        height: 4px;
        position: absolute;
        border-radius: 5px;
        background: #f1f1f1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line-unique::before {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #f1f1f1;
    }

    .line-unique::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #f1f1f1;
    }

}

/* START Section Accueil */

.accueil {
    background: url("ressources/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}

h1{
    font-size: 90px;
    font-family: 'Merriweather', serif;
    margin: 0 60px;
    padding-top: 210px;
}

.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}

.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: black;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}


.btn-acc1 {
    margin: 10px 0 0 60px;
}

.btn-acc2 {
    background-color: transparent;
    border: 2px solid black;
    margin: 10px 0 0 60px;
    color: black;
    font-weight: 700;
}

.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}

.media {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;

}

.media2 {
    background-color: transparent;
    border: 2px solid #333;
}

.icone-medias {
    width: 30px;
}

.btn-rond{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #333;
    animation-name: pulse;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 0 #333;
}

@keyframes pulse {
    to {
        
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
    }
}

.logo-btn-rond-acc {
    width: 35px;
}

@media screen and (max-width:1300px){
    .accueil{
        height: 100vh;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
}

@media screen and (max-width:1000px){
    .accueil{
        height: 700px;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
    h1{
        font-size: 70px;
        padding-top: 100px;
        margin: 0 30px 0 30px;
    }
    .accueil p {
        margin: 20px 0 20px 30px;
    }
    .btn-acc1{
        margin: 10px 0 0 30px;
    }
    .media {
        margin-left: 30px;
    }
    .btn-rond{
        display: none;
    }
}

@media screen and (max-width:700px){
    .accueil{
        height: 600px;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
    h1{
        font-size: 50px;
        margin: 0 30px;
    }
    .accueil p {
        font-size: 20px;
    }
    .btn-rond-menu{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:500px){
    .accueil{
        height: 600px;
        width: 100%;
        min-height: 900px;
        background-position: center;
    }
    h1{
        font-size: 35px;
    }
    .accueil p {
        font-size: 16px;
    }
    .btn-acc {
        width: 120px;
        font-size: 13px;
        height: 40px;
        margin: 10px 0 0 5px;

    }
    .btn-acc1 {
        margin: 10px 0 0 30px;
    }
    .btn-rond-menu{
        width: 60px;
        height: 60px;
    }
    .media {
        width: 40px;
        height: 40px;
    }
    .icone-medias {
        width: 20px;
    }
}

@media screen and (max-width:450px){

    .accueil{
        height: 500px
    }

    .btn-rond-menu{
        width: 50px;
        height: 50px;
    }

    .cont-line{
        width: 20px;
        height: 38px;
    }

}

@media screen and (max-width:380px){

    .txt-animation{
        font-size: 15px;
    }

}

/* END Section Accueil */

/* START Section présentation */

.presentation {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    color: #e7e7e7;
}

.fond-forme{
    background: rgb(41,50,60);
    background: linear-gradient(90deg, rgba(41,50,60,1) 0%, rgba(89,72,99,1) 100%);    width: 2300px;
    height: 1000px;
    position: absolute;
    transform: rotate(-45deg) translateX(100px) translateY(-15px);
    z-index: -1;
}

.titre-pres {
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 70px 0;
    padding-left: 300px;
}

.container-presentation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 120px 0;
    flex-shrink: 0;
    padding-left: 300px;
}

.pres-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;

}

.pres-gauche h3{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

.pres-gauche hr{
    width: 60px;
    margin: 0 auto 20px auto;
}

.pres-gauche p {
    text-align: justify;
}

.pres-droite {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}

.liste-presentation {
    list-style-type: none;
    padding: 10px 0px 50px 110px;
}

.chiffre-style {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
}

.txt-liste {
    font-size: 27px;
    display: inline;
}

@media screen and (max-width:1300px){
    .container-presentation{
        padding-left: 0;
    }
    .titre-pres {
        padding-left: 0px;
    }

}

@media screen and (max-width:1100px){
    .fond-forme {
        transform: rotate(0) translateY(0) translateX(0);
        width: 100%;
        height: 150%;
        
    }

    .titre-pres {
        margin: 0 0 20px 0;
        padding-top: 50px;
    }

    .container-presentation{
        flex-direction: column;
    }

    .pres-gauche{
        width: 80%;
        flex-shrink: 1;
        margin-bottom: 10px;
        padding: 20px 0;
    }

    .pres-gauche h3 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .pres-gauche p {
        font-size: 16px;
    }

    .pres-droite {
        width: 80%;
        flex-shrink: 1;
    }
    .liste-presentation{
        padding: 0 0;

    }
}

@media screen and (max-width:700px){

    .titre-pres {
        font-size: 24px;
        margin: 0 10px;
    }

    .chiffre-style {
        font-size: 30px;
    }

    .txt-liste {
        font-size: 17px;
    }

    .container-presentation{
        margin-top: 10px;
        margin-bottom: 70px;
    }

    .pres-gauche h3 {
        font-size: 20px;
    }

}
/* END Section présentation */

/* START Section portfolio */


.portfolio {
    width: 100%;
}
.titre-port {
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
    padding-left: 300px;
}

.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0px auto 100px auto;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 20px;
    width: 420px;
    height: 450px;
    background-color: #f0f2f0;
    color: #333;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;

}

.cont-img-port img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item h3 {
    padding: 20px 10px 0;
    font-size: 22px;
}

.item p {
    padding: 10px 10px 0;

}

.btn-projet {
    display: block;
    margin: 10px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.btn-projet::after{
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);
    
}

.btn-projet:hover::after {
    transition-duration: 0.5s;
    transform: translateX(300%);
}

@media screen and (max-width:1300px) {

    .cont-portfolio{
        padding-left: 0;
    }

    .titre-port {
        font-size: 40px;
        margin: 50px 0 70px 0;
        padding-left: 0;

    }

}

@media screen and (max-width:500px) {
    
    .cont-portfolio{
        padding-left: 0;
    }

    .titre-port {
        margin: 10px 0;
        padding : 30px 0;
    }

    .item {
        height: 420px;
    }

    .cont-img-port {
        height: auto;
    }

}

@media screen and (max-width:340px) {

    .item {
        height: 380px;
    }

}

/* END Section portfolio */

/* START Section SKILLS */

.skills {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    border-bottom: 1px dashed #333;
    background-color: #485663;
    background: linear-gradient(90deg, rgba(41,50,60,1) 0%, rgba(89,72,99,1) 100%);
    position: relative;
    z-index: -1;
    color: #f1f1f1;
}

.skill-cont {
    position: relative;
}

.titre-skills {
    font-size: 40px;
    text-align: center;
    margin: 80px 0 90px 0;
    padding-left: 300px;
}

.grille-skills {
    display: grid;
    grid-template: repeat(3, 80px) / repeat(2, 500px);
    grid-gap: 50px;
    padding-left: 300px;
}

.barre-skill {
    height: 15px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(167,146,243);
}

.barre-grise {
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    left: 0;
    height: 15px;
    bottom: 0;
    width: 500px;
    background: rgb(216,216,216)
}

.b1 {
    width: 80%;

}

.b2 {
    width: 80%;
}

.b3, .b4 {
    width: 70%;
}

.b5 {
    width: 60%;
}

.b6 {
    width: 90%;
}

.label-skill {
    font-size: 24px;
}


@media screen and (max-width: 1400px) {
    .grille-skills {
        grid-template: repeat(3, 80px) / repeat(2, 450px);
    }
    .barre-grise {
        width: 450px;
    }
}

@media screen and (max-width: 1300px) {
    .grille-skills {
        padding-left: 0px;
    }
    .titre-skills {
        padding-left: 0;
    }

    .grille-skills {
        grid-template: repeat(6, 80px) / repeat(1, 600px);
        padding-left: 0;
    }
    .barre-grise {
        width: 600px;
    }
}


@media screen and (max-width: 700px) {
    .barre-grise {
        width: 400px
    }

    .grille-skills {
        grid-template: repeat(6, 80px) / repeat(1, 400px);
        padding-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .barre-grise {
        width: 300px
    }

    .grille-skills {
        grid-template: repeat(6, 80px) / repeat(1, 300px);
        padding-left: 0;
    }
}
/* END Section SKILLS */



/* START Section EXPERIENCE */
.titre-exp {
    text-align: center;
    padding-left: 300px;
    color: black;
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 40px;
}

.cont-exp {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(150px);
    width: 50%;
    height: 800px;
    position: relative;
}

.cont-exp article {
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    position: relative;
    z-index: -1;
    background-color: #0025478b
}

.vertical-exp {
    position: absolute;
    left: -30px;
    top: 0;
    height: 90%;
    background-color: #292929;
    width: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.circle-exp {
    margin-bottom: 140px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border: 2px solid black;
}

.cont-exp article::before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition-duration: 0.5s;
}

.cont-exp article:hover::before {
    left: 0px;
    bottom: 0px;
}



@media screen and (max-width: 1300px) {
    .cont-exp {
        transform: translateX(0px);
        width: 80%;
    }

    .titre-exp {
        padding-left: 0px;
    }

}

@media screen and (max-width: 1100px) {
    .cont-exp {
        transform: translateX(0px)
    }

    .titre-exp {
        padding-left: 0px;
    }

}
/* END Section EXPERIENCE */


/* START section parallax */
.section-parallax {
    width: 100%;
    height: 250px;
    background: url('ressources/parallax.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
/* END section parallax */


/* Section contact */

.contact {
    width: 100%;
    height: auto;
    color: black;
}

.contact h2 {
    font-size: 48px;
    margin-bottom: 50px;
    color: #333;
    font-weight: 400;
    text-align: center;
    padding: 70px 0 0 300px;
}

.contact h2 strong {
    font-weight: 700;
}

.container-form {
    margin: 0px auto;
    width: 70%;
    padding-left: 300px;
}

.form-group {
    position: relative;
    display: flex;
    margin-bottom: 45px;
}

.form-group label {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 0;
    color: #aaa;
    transform: translateY(-50%);
    font-size: 20px;
    transition: 0.4s ease-out;
}

textarea {
    width: 100%;
    height: 200px;
    border: none;
    border: 3px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    color: black;
    outline: none;
    transition: 0.4s ease-out;
    background: #f1f1f1;
}

textarea::placeholder {
    opacity: 0.5;
    font-size: 20px;
}

textarea:focus {
    border-color: #8b97d7;
}

.form-group:nth-child(4) {
    margin-bottom: 25px;
    justify-content: flex-start;
}

.form-group .btn-submit {
    cursor: pointer;
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid;
    border-radius: 999px;
    font-weight: 600;
}

.form-group .btn-submit:hover {
    transform: scale(1.1);
}

.form-group input {
    display: block;
    position: relative;
    width: 100%;
    font-size: 20px;
    padding: 10px 0px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    transition: 0.4s ease-out;
}

@media screen and (max-width : 1300px){
    .contact h2 {
        padding: 70px 0 0 0;
    }
    .container-form {
        padding-left: 0;
    }
    .form-group:nth-child(4) {
        justify-content: center;
    }

}

/* Animation contact */

.form-group:focus-within label,
.form-group.animation label{
    top: 0px;
    color: #8b97d7;
}
